<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.prm392_walletproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/labelicon_wallet"
        android:label="Wallet"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392_WalletProject"
        tools:targetApi="31">

        <activity
            android:name=".activity.Authenticator"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Open by link -->
            <intent-filter android:autoVerify="true">
                <!-- below line is to set the action to our intent to view -->
                <action android:name="android.intent.action.VIEW" />

                <!-- on below line we are adding a default category to our intent -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- on below line we are adding a category to make our app browsable -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- on below line we are specifying the host name and
                    the scheme type from which we will be calling our app -->
                <data
                    android:host="www.walletproject.infinityfreeapp.com"
                    android:scheme="https" />

            </intent-filter>

            <!-- below is the same filter as above just the scheme is changed to http -->
            <!-- so we can open our app with the url starting with https and http as well -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.walletproject.infinityfreeapp.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="app" android:host="www.walletproject.infinityfreeapp.com" android:path="/"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
        </activity>

        <receiver android:name=".activity.ReminderBroadcast"></receiver>
    </application>

</manifest>